.section {
  width: 100%;
  
  height: calc(100% - 160px);
  overflow: auto;
 
}
.dark {
  background-color: black;
  color: white;
}
.light {
  background-color: white;
  color: black;
}
.container {
  display: flex;

  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
  gap: 20px;
  width: 100%;
  justify-content: center;
  height: auto;
 
}
.post {
  min-width: 30%;
}
