.container {
 max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.innerContainer{
  position: relative;
}
.container :first-child{
  border-radius: 10px;
  max-width: 100%;
  margin: auto;

}

.downBtn{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 99;
  transition: 400ms;

}
.downBtn:hover{
fill: rgb(20, 141, 141);
}
@media only screen and (max-width: 600px) {
  .container :first-child{
    width: 100vw;
    border-radius: 0px;
    
  
  }

}