.fullContainer {
  width: 100%;
  height: calc(100% - 160px);
  display: flex;
  overflow: auto;
  justify-content: center;
}
.container {
  height: 100%;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  position: relative;
}
.dark {
  background-color: black;
}
.dark object {
  background-color: black;
}
.innerContainer {
  width: fit-content;

  margin: auto;
  position: relative;
}

object {
  height: 100%;
  width: 100%;
}
object img {
  border-radius: 20px;

  max-width: 100%;
}
.downBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 99;
  transition: 400ms;
}
.downBtn:hover {
  fill: rgb(20, 141, 141);
}

@media only screen and (max-width: 590px) {
  object img {
    border-radius: 0;
  }
}
