footer {
  height: 60px;
 font-weight: 600;
  display: flex;
 gap: 5px;
  justify-content: center;
  align-items: center;
 
  color: white;
  opacity: 0.7;
  
}
.socialMedias {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.socialMedias svg {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.socialMedias svg:hover {
  color: rgb(20, 141, 141);
}
.socialMedias a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.copyright{

  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}