footer {
  height: 100px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  opacity: 0.7;
  -webkit-box-shadow: 0px -4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -4px 1pxrgba (0, 0, 0, 0.1);
  box-shadow: 0px -4px 1px rgba(0, 0, 0, 0.1);
}
.socialMedias {
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.socialMedias i {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.socialMedias i:hover {
  color: #2980b9;
}
