main {
  width: 100%;
  min-height: calc(100% - 160px);
  max-height: calc(100% - 160px);

  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
}
.darkMain {
  background-color: black;
  color: white;
}
.lightMain {
  background-color: white;
  color: black;
}
.article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;
}
.me {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.article img {
  box-shadow: rgb(20, 141, 141) 0px 0px 5px 0px,
    rgb(20, 141, 141) 0px 0px 1px 0px;
  height: 300px;
  width: 300px;

  animation: slideLeft 300ms ease-in;
  border-radius: 50%;
}
@keyframes slideRight {
  0% {
    transform: translateX(50%); /* Sağda başlat */
  }
  100% {
    transform: translateX(0); /* Sola bitir */
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-50%); /* Sağda başlat */
  }
  100% {
    transform: translateX(0); /* Sola bitir */
  }
}
.name {
  font-size: 3em;
  font-weight: 900;
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  animation: slideRight 300ms ease-in;
  gap: 30px;
}
.title {
  font-style: italic;
  font-size: 2em;
  height: 100px;
  color: rgb(20, 141, 141);
  font-weight: 700;
}

.code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  animation: slideTop 300ms ease-in;
}

@keyframes slideTop {
  0% {
    transform: translateY(50%); /* Sağda başlat */
  }
  100% {
    transform: translateX(0); /* Sola bitir */
  }
}
@media only screen and (max-width: 1280px) {
  .code {
    flex-direction: column;
  }
  html {
    font-size: 10px;
  }
  .article img {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .article img {
    height: 150px;
    width: 150px;
  }
}

.btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 12px 30px;
  display: flex;
  white-space: nowrap;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  color: white;
  background: rgb(20, 141, 141); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(73, 212, 212),
    rgb(31, 161, 161),
    rgb(20, 141, 141),
    rgb(31, 161, 161),
    rgb(73, 212, 212)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(73, 212, 212),
    rgb(31, 161, 161),
    rgb(20, 141, 141),
    rgb(31, 161, 161),
    rgb(73, 212, 212)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 300ms;
  background-size: 200% 100%;
  animation: slide 5s linear infinite;
}
.btn:hover {
  box-shadow: 0px 4px 8px rgb(99, 99, 99);
  scale: 1.1;
  transform: translate(10%, 10%);
  animation-play-state: paused;
}
.darkPre {
  width: 380px;
  background-color: #1f2833;
  border-radius: 10px;
  padding-left: 5px;
  font-size: 15px;
  margin-top: 0;
  overflow: hidden;
}
.lightPre {
  width: 380px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding-left: 5px;
  font-size: 15px;
  margin-top: 0;
  overflow: hidden;
}
@keyframes slide {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@media only screen and (max-width: 500px) {
  .me {
    max-width: 100vw;
    font-size: 6px;
  }

  .code {
    max-width: 100vw;
    overflow: hidden;
  }
  .me {
    gap: 0px;
  }
  .info {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
