main {
  width: 100%;
  height: calc(100% - 170px);
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 40px;
}
.article {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 512px;
  max-width: calc(33% - 60px);
  gap: 20px;
}
.me{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.article img {
  box-shadow: rgb(20, 141, 141) 0px 0px 5px 0px,
    rgb(20, 141, 141) 0px 0px 1px 0px;
  height: 300px;
  width: 300px;

  animation: slideLeft 300ms ease-in;
  border-radius: 50%;
}
@keyframes slideRight {
  0% {
    transform: translateX(50%); /* Sağda başlat */
  }
  100% {
    transform: translateX(0); /* Sola bitir */
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-50%); /* Sağda başlat */
  }
  100% {
    transform: translateX(0); /* Sola bitir */
  }
}
.name {
  font-size: 3em;
  font-weight: 900;
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  animation: slideRight 300ms ease-in;
  gap: 30px;
}
.title {
  font-style: italic;
  font-size: 2em;
  height: 100px;

  font-weight: 700;
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 10px;
  }
  .article img {
    height: 200px;
    width: 200px;
  }
  main {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 20px;

    align-items: center;
  }
  .article {
    width: 512px;
    max-width: calc(100% - 30px);
  }
  nav {
    align-items: center;
  }
}

@media only screen and (max-width: 1280px) {
  nav {
    font-size: 14px;
    gap: 5px;
  }
  main {
    margin-bottom: 10px;
  }
}
