.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    height: calc(100% - 160px);
}
.container a,.container a:visited,.container a:hover{
    color: rgb(20, 141, 141);
}