.article {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 800px;
  border-radius: 6px;
  width: 512px;
  max-width: calc(33% - 60px);
  gap: 20px;
  font-size: 16px;
  height: auto;
}
h1 {
  padding: 5px;
  margin: 0;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  padding: 5px;
}
.tag {
  background-color: #edf6fa;
  padding: 5px 10px 5px 10px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}
.postImage {
  width: 512px;
  max-width: 100%;
  height: 288px;
}
.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.bottomContent {
  display: flex;
  padding: 5px;
  height: 36px;
  justify-content: space-between;
}
.writer {
  display: flex;
  height: 36px;
  gap: 10px;
}

.writerImage {
  width: 36px;

  height: 36px;
}
.writerInfo {
  height: 36px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.writerInfo div {
  height: 18px;
}
.writerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

 .article p {
  padding: 5px;

  width: 100%;
  height: 220px;
  word-break: break-word;
  font-weight: 370;
}
.bottomContent a,
.bottomContent a:link,
.bottomContent a:visited {
  opacity: 0.8;
  color: black;
  text-decoration: none;
}
.bottomContent a:hover {
  opacity: 1;
}

@media only screen and (max-width: 1280px) {
  .article p {
  
    margin-bottom: 20px;
  }
  main {
    flex-direction: column;
    height: auto;
    width: 100%;
  

    align-items: center;
  }
  .article {
    width: 512px;
    height: 750px;
    max-width: calc(100% - 30px);
  }
  nav {
    align-items: center;
  }
}

@media only screen and (max-width: 1280px) {
  nav {
    font-size: 14px;
    gap: 5px;
  }
 
}
