.article {
  display: flex;
  flex-direction: column;

  height: auto;

  width: 512px;
  max-width: calc(33% - 60px);

  font-size: 16px;
}
h1 {
  padding: 5px;
  margin: 0;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  padding: 5px;
}

.dark .tag {
  box-shadow: white 0px 0px 5px 0px, white 0px 0px 1px 0px;

  padding: 6px 15px 6px 15px;
  color: white;
  border-radius: 10px;
}
.light .tag {
  box-shadow: black 0px 0px 5px 0px, black 0px 0px 1px 0px;

  padding: 6px 15px 6px 15px;
  color: black;
  border-radius: 10px;
}

.article p {
  padding: 5px;
  width: 100%;

  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 10; /* Kaç satır sonra üç nokta ekleneceği */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Metni üç nokta (...) ile kırp */
  font-weight: 370;
}
.dark pre {
  background-color: #111;
}

.light pre {
  background-color: #ddd;
}
.article a,
.article a:visited,
.article a:hover {
  margin-left: 5px;
  text-decoration: none;
  color: rgb(20, 141, 141);
  width: fit-content;
}

@media only screen and (max-width: 1280px) {
  main {
    flex-direction: column;
    height: auto;
    width: 100%;

    align-items: center;
  }
  .article {
    width: 512px;
    height: auto;
    max-width: calc(100% - 30px);
  }
  nav {
    align-items: center;
  }
}

@media only screen and (max-width: 1280px) {
  nav {
    font-size: 14px;
    gap: 5px;
  }
}
