.section {
  width: 100%;
  display: flex;

  height: calc(100% - 239px);
  overflow: scroll;
  overflow-x: hidden;

  justify-content: center;
}
.container {
  display: flex;

  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
  gap: 40px;
  width: 100%;
  justify-content: center;
}
.post {
  min-width: 30%;
}
