.page {
  width: 100%;
  overflow: hidden;

  min-height: calc(100% - 160px);
  font-size: large;
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}
.darkPage {
  color: white;
  background-color: black;
}
.lightPage {
  color: black;
  background-color: white;
}
.innerPage {
  width: 100%;
  height: auto;
  box-shadow: rgb(20, 141, 141) 0px 0px 5px 0px,
    rgb(20, 141, 141) 0px 0px 1px 0px;
  display: flex;
  gap: 10px;
  border-radius: 6px;

  color: rgb(20, 141, 141);
}
.darkPage .container {
  background-color: black;
}
.lightPage .container {
  background-color: white;
}
.innerPage a,
.innerPage a:hover,
.innerPage a:visited {
  color: #151515;
  text-decoration: none;
}
.innerPage svg {
  color: black;
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.innerPage svg:hover {
  color: rgb(20, 141, 141);
}
.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  max-width: 90%; /* Maksimum genişlik belirleyebilirsiniz */
  margin: auto;
}

.modalContent {
  width: 100%;
  height: 100%;
}
.modalContainer {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;

    padding: 5px;
    max-width: 100%;
  }
}

.exampleContainer {
  width: 100%;
  height: 100%;
  position: relative;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  color: rgb(20, 141, 141);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  box-shadow: rgb(20, 141, 141) 0px 0px 5px 0px,
    rgb(20, 141, 141) 0px 0px 1px 0px;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.exampleContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.projectsName {
  width: 100%;
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
}
.tags {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  height: auto;

  gap: 10px;
}
.tag {
  padding: 8px 20px 8px 20px;
  color: rgb(20, 141, 141);
  box-shadow: rgb(20, 141, 141) 0px 0px 5px 0px,
    rgb(20, 141, 141) 0px 0px 1px 0px;
  border-radius: 10px;
}

.images {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;

  margin: 0;
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr 1fr 1fr;
}
.images img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  transition: 400ms;
  scale: 0.9;
}
.images img:hover {
  scale: 1;
}

.modal {
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  max-height: 70%;
  transition: 100ms;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: rgb(20, 141, 141) 0px 0px 5px 0px,
    rgb(20, 141, 141) 0px 0px 1px 0px;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .container {
    font-size: 16px;
  }
  .modal img {
    height: 100%;
    width: 100%;
    background-color: black;
    object-fit: contain;
  }
}

.modal img {
  max-width: 100%;
  max-height: 100%;
}

/* Close Button */
